<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{ title }}</h1>
    </div>  
  </div>
  <div class="row">
    <div class="col-lg-4">
        <app-form (showTasks)="showTasks()"></app-form>
    </div>
    <div class="col-lg-8">
        <app-list [taskListArr]="taskListArr"
                  (notifyParentToSortTask)="sortTask()"
                  (notifyParentToDeleteTask)="deleteTask($event)"></app-list>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
